{% extends 'MopaBootstrapBundle::base_css.html.twig' %}

{% block headline %}
    Acrive's Twitter Bootstrap Demo
{% endblock headline %}

{% block content_sidebar %}
    {{ parent() }}
    <ul>
        <li>Test</li>
    </ul>
{% endblock content_sidebar %}

{% block head_style %}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/bootstrap/dist/css/bootstrap.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block footer %}
    © Lorem Ipsum 2014
{% endblock footer %}
